<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.djun.boaviagem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".activities.BoaViagemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.ViagemActivity" />
        <activity android:name=".activities.GastoActivity" />
        <activity android:name=".activities.ViagemListActivity" />
        <activity android:name=".activities.GastoListActivity" />
        <activity android:name=".activities.ConfiguracoesActivity" />
        <provider
            android:name=".provider.BoaViagemProvider"
            android:authorities="br.com.djun.boaviagem.provider"
            android:permission="br.com.djun.boaviagem.provider.ALL">
            <!--android:readPermission="br.com.casadocodigo.boaviagem.provider.permission.READ"-->
            <!--android:writePermission="br.com.casadocodigo.boaviagem.provider.permission.WRITE"-->
            <!--<path-permission-->
                <!--android:path="viagem"-->
                <!--android:permission=-->
                    <!--"br.com.casadocodigo.boaviagem.provider.permission.ALL"	/>-->
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"	/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
</manifest>
